<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100&display=swap" rel="stylesheet">
    <link href="../styles/styles.css" rel="stylesheet">
    <title>Bienvenid@</title>
</head>

<body class="vh-100 vw-100 blur d-flex flex-column justify-content-start align-items-start">
    <nav class="w-100 d-flex justify-content-sb align-items-start pt-2">
        <a href="../index.html">
            <img class="ml-2" width="150px" src="../assets/logoRYM.png">
        </a>
        <div class="d-flex justify-content-start">
            <a class="br-xs border-dark-2 all-center cursor-pointer fw-bold text-size-1 text-decoration-none bg-white text-dark" href="../index.html"
                style="width: 136px; height: 50px;" title="ver catalogo">
                Inicio
            </a>
            <a class="br-xs border-dark-2 all-center cursor-pointer fw-bold text-size-1 text-decoration-none bg-white"
                style="width: 136px; height: 50px;" title="ver catalogo">
                Catalogo
            </a>
            <a class="br-xs border-dark-2 cursor-pointer all-center fw-bold text-size-1 text-decoration-none bg-white text-dark mr-2" href="categories.html"
                style="width: 136px; height: 50px;" title="ver categorias">
                Categorías
            </a>
        </div>
    </nav>
    <header class="w-100 all-center flex-column">
        <h1 class="text-white text-size-3 mt-0 mb-1">Peliculas</h1>
        <div class="w-90 d-flex justify-content-sb">
            <div class="d-flex gap-1">
                <div class="d-flex justify-content-start align-items-center flex-column mb-2">
                    <label for="searchMovie" class="text-white w-100">Título</label>
                    <input id="searchMovie" class="custom-input text-center text-size-1" style="width: 400px; height: 34px;" type="text" placeholder="Escribe el nombre de una pelicula">
                </div>
                <div class="d-flex justify-content-start align-items-center flex-column ">
                    <label for="searchMovieByYear" class="text-white w-100">Genero</label>
                    <select id="genreMovie" class="custom-input text-center text-size-1" style="width:220px; height: 40px;" type="text">
                        <option value="" id="">Selecciona un genero</option>
                        <option value="Familia" id="10751">Familia</option>
                        <option value="Historia" id="36">Historia</option>
                        <option value="Terror" id="27">Terror</option>
                        <option value="Misterio" id="9648">Misterio</option>
                        <option value="Romance" id="10749">Romance</option>
                        <option value="Ciencia ficción" id="878">Ciencia ficción</option>
                        <option value="Suspense" id="53">Suspense</option>
                        <option value="Bélica" id="10752">Bélica</option>
                        <option value="Western" id="37">Western</option>
                    </select>
                </div>
                <div class="d-flex justify-content-start align-items-center flex-column ">
                    <label for="searchMovieByYear" class="text-white w-100">Año</label>
                    <input id="searchMovieByYear" class="custom-input text-center text-size-1" style="width:125px; height: 34px;" type="number" min="0" max="9999" placeholder="Escribe un año">
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-start" style="padding-top: 1.3rem;">
                <button id="searchButton" onclick="search()" class="br-xs border-dark-2 cursor-pointer bg-white all-center" type="button" style="width: 70px; height: 40px;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button id="orderList" onclick="search()" class="br-xs border-dark-2 cursor-pointer bg-white all-center" type="button" style="width: 70px; height: 40px;">
                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </header>
    <main class="w-100 d-flex flex-column justify-content-start align-items-center overflow-y-scroll">
        <div class="w-90 general-grid pb-3" id="movies"></div>
    </main>
    <script src="../js/getMovies.js"></script>
</body>
</html>