<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/styles.css" rel="stylesheet" >
</head>
<body>
    <header>
        <center>
            <img src="../assets/tiendaOnline_logo.png" width="150px" alt="Tienda Online">
            <nav>
                <a href="home.html">Inicio</a> |
                <a href="categories.html">Categorías</a> |
                <a href="aboutUs.html">Quienes somos</a> |
                <a href="contactUs.html">Contacto</a>
            </nav>
        </center>
    </header>
    <br>
    <main>
        <center>
            <table width="80%">
                <thead>
                    <tr>
                        <th><h1 align="start">Somos...</h1></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="40%">
                            <p>
                                Nostrud velit est nulla cupidatat officia id id proident aliqua do
                                culpa ullamco. Tempor aliqua aute sint ipsum duis fugiat excepteur
                                aliqua sunt. Incididunt enim consequat laborum ipsum excepteur non
                                cupidatat reprehenderit ipsum est. Dolore adipisicing eiusmod aute
                                sunt reprehenderit adipisicing. Deserunt irure et aliqua commodo
                                cupidatat in minim ex deserunt ex laboris aliqua occaecat labore.
                                Nulla sint est exercitation consequat amet ipsum incididunt. Pariatur
                                incididunt commodo Lorem est ullamco.
                            </p>
                        </td>
                        <td><img src="../assets/banner1.png" width="100%" alt="Tienda Online"></td>
                        <td><img src="../assets/banner1.png" width="100%" alt="Tienda Online"></td>
                    </tr>
                </tbody>
            </table>
            <table width="80%">
                <thead>
                    <tr>
                        <th><h1 align="start">Queremos...</h1></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="../assets/banner1.png" width="100%" alt="Tienda Online"></td>
                        <td width="60%">
                            <p>
                                Nostrud velit est nulla cupidatat officia id id proident aliqua do
                                culpa ullamco. Tempor aliqua aute sint ipsum duis fugiat excepteur
                                aliqua sunt. Incididunt enim consequat laborum ipsum excepteur non
                                cupidatat reprehenderit ipsum est. Dolore adipisicing eiusmod aute
                                sunt reprehenderit adipisicing. Deserunt irure et aliqua commodo
                                cupidatat in minim ex deserunt ex laboris aliqua occaecat labore.
                                Nulla sint est exercitation consequat amet ipsum incididunt. Pariatur
                                incididunt commodo Lorem est ullamco.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </main>
    <br>
    <footer>
    </footer>
</body>
</html>