<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/styles.css" rel="stylesheet" >
</head>
<body>
    <header>
        <center>
            <img src="../assets/tiendaOnline_logo.png" width="150px" alt="Tienda Online">
            <nav>
                <a href="home.html">Inicio</a> |
                <a href="categories.html">Categorías</a> |
                <a href="aboutUs.html">Quienes somos</a> |
                <a href="contactUs.html">Contacto</a>
            </nav>
        </center>
    </header>
    <br>
    <main>
        <center>
            <table width="80%">
                <tbody>
                    <tr>
                        <td><a href="products.html"><img src="../assets/1.png" width="100%" alt="Producto"></a></td>
                        <td><a href="products.html"><img src="../assets/2.png" width="100%" alt="Producto"></a></td>
                    </tr>
                    <tr>
                        <td><a href="products.html"><img src="../assets/3.png" width="100%" alt="Producto"></a></td>
                        <td><a href="products.html"><img src="../assets/4.png" width="100%" alt="Producto"></a></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </main>
</body> 
</html>