<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenid@!!</title>
    <link href="../styles/styles.css" rel="stylesheet" >
</head>
</head>
<body>
    <header>
        <center>
            <img src="../assets/tiendaOnline_logo.png" width="150px" alt="Tienda Online">
            <nav>
                <a href="../index.html">Inicio</a> |
                <a href="categories.html">Categorías</a> |
                <a href="aboutUs.html">Quienes somos</a> |
                <a href="contactUs.html">Contacto</a>
            </nav>
        </center>
    </header>
    <br>
    <main>
        <center>
            <table width="80%">
                <tr>
                    <td width="70%">
                        <table width="100%" style="background-color: white;">
                            <tr>
                                <td>
                                    <form>
                                        <center>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <label for="firstname">Nombres</label>
                                                        <br>
                                                        <input type="text" name="firstname" id="firstname" placeholder="Nombre" required>
                                                    </td>
                                                    <td>
                                                        <label for="lastname">Apellidos</label>
                                                        <br>
                                                        <input type="text" name="lastname" id="lastname" placeholder="Apellido" required>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="subject">Asunto</label>
                                                        <br>
                                                        <input type="text" name="subject" id="subject" placeholder="Asunto" required>
                                                    </td>
                                                    <td>
                                                        <label for="id">Identificación</label>
                                                        <br>
                                                        <input type="number" name="id" id="id" placeholder="Identificación" required>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="email">Correo electrónico</label>
                                                        <br>
                                                        <input type="email" name="email" id="email" placeholder="Correo electrónico" required>        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="message">Mensaje</label>
                                                        <br>
                                                        <textarea name="message" id="message" required></textarea>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div>
                                            </div>
                                            <br>
                                            <br>
                                            <button type="submit">enviar</button>
                                            <br>
                                            <br>
                                        </center>
                                    </form>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="30%">
                        <table width="100%" style="background-color: white;">
                            <tr>
                                <td>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <img src="../assets/instagram.png" width="50px">
                                    </a>
                                </td>
                                <td><p>@TiendaOnline</p></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <img src="../assets/facebook.png" width="50px">
                                    </a>
                                </td>
                                <td><p>TiendaOnline</p></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <img src="../assets/youtube.png" width="50px">
                                    </a>
                                </td>
                                <td><p>TiendaOnlineTV</p></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <img src="../assets/linkedin.png" width="50px">
                                    </a>
                                </td>
                                <td><p>TiendaOnline</p></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.gmail.com/" target="_blank">
                                        <img src="../assets/gmail.png" width="50px">
                                    </a>
                                </td>
                                <td><p>atencion@TiendaOnline.com</p></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </main>
</body>
</html>