<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/styles.css" rel="stylesheet" >
</head>
<body>
    <header>
        <center>
            <img src="../assets/tiendaOnline_logo.png" width="150px" alt="Tienda Online">
            <nav>
                <a href="home.html">Inicio</a> |
                <a href="categories.html">Categorías</a> |
                <a href="aboutUs.html">Quienes somos</a> |
                <a href="contactUs.html">Contacto</a>
            </nav>
        </center>
    </header>
    <br>
    <br>
    <main>
        <center>
            <table width="90%">
                <tr>
                    <td width="25%" valign="top">
                        <form style="background-color: white; border: 0.2rem solid #292929; border-radius: 0.5rem; padding-left: 0.5rem;">
                            <br>
                            <h2>Filtrado por</h2>
                            <input type="text" placeholder="¿Que estás buscando?">
                            <br>
                            <button>Filtrar</button>
                            <br>
                            <br>
                            <label for="price">Precio</label>
                            <br>
                            <input type="range" id="price" name="price">
                            <br>
                            <label for="brand">Marca</label>
                            <br>
                            <select id="brand" name="brand">
                                <option selected disabled>Seleccione una marca</option>
                                <option value="0">Todos</option>
                            </select>
                            <br>
                            <br>
                            <label for="brand">Categoría</label>
                            <br>
                            <select id="brand" name="brand">
                                <option selected disabled>Seleccione una categoría</option>
                                <option value="0">Todos</option>
                            </select>
                            <br>
                            <br>
                            <input type="checkbox" name="only_discounts" id="only_discounts" required>
                            <label for="only_discounts">Solo descuentos</label>
                            <br>
                            <br>
                        </form>
                    </td>
                    <td width="75%" valign="top">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>Visualización</td>
                                    <td></td>
                                    <td align="end">Ordenar por</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <article style="background-color: white; border: 0.2rem solid #292929; border-radius: 0.5rem; padding-left: 0.5rem;">
                                            <br>
                                            <img src="../assets/product_1.png" width="200px" alt="Producto">
                                            <br>
                                            <a href="#">Producto 1</a>
                                            <h3>$100.99</h3>
                                            <button>+</button>
                                            <button style="background-color: #00BF63;">Comprar</button>
                                            <br>
                                            <br>
                                        </article>
                                    </td>
                                    <td>
                                        <article style="background-color: white; border: 0.2rem solid #292929; border-radius: 0.5rem; padding-left: 0.5rem;">
                                            <br>
                                            <img src="../assets/product_2.png" width="200px" alt="Producto">
                                            <br>
                                            <a href="#">Producto 2</a>
                                            <h3>$100.99</h3>
                                            <button>+</button>
                                            <button style="background-color: #00BF63;">Comprar</button>
                                            <br>
                                            <br>
                                        </article>
                                    </td>
                                    <td>
                                        <article style="background-color: white; border: 0.2rem solid #292929; border-radius: 0.5rem; padding-left: 0.5rem;">
                                            <br>
                                            <img src="../assets/product_3.png" width="200px" alt="Producto">
                                            <br>
                                            <a href="#">Producto 3</a>
                                            <h3>$100.99</h3>
                                            <button>+</button>
                                            <button style="background-color: #00BF63;">Comprar</button>
                                            <br>
                                            <br>
                                        </article>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <article style="background-color: white; border: 0.2rem solid #292929; border-radius: 0.5rem; padding-left: 0.5rem;">
                                            <br>
                                            <img src="../assets/product_4.png" width="200px" alt="Producto">
                                            <br>
                                            <a href="#">Producto 4</a>
                                            <h3>$100.99</h3>
                                            <button>+</button>
                                            <button style="background-color: #00BF63;">Comprar</button>
                                            <br>
                                            <br>
                                        </article>
                                    </td>
                                    <td>
                                        <article style="background-color: white; border: 0.2rem solid #292929; border-radius: 0.5rem; padding-left: 0.5rem;">
                                            <br>
                                            <img src="../assets/service_1.png" width="200px" alt="Producto">
                                            <br>
                                            <a href="#">Servicio 1</a>
                                            <h3>$33.99</h3>
                                            <button>+</button>
                                            <button style="background-color: #00BF63;">Comprar</button>
                                            <br>
                                            <br>
                                        </article>
                                    </td>
                                    <td>
                                        <article style="background-color: white; border: 0.2rem solid #292929; border-radius: 0.5rem; padding-left: 0.5rem;">
                                            <br>
                                            <img src="../assets/service_2.png" width="200px" alt="Producto">
                                            <br>
                                            <a href="#">Servicio 2</a>
                                            <h3>$77.99</h3>
                                            <button>+</button>
                                            <button style="background-color: #00BF63;">Comprar</button>
                                            <br>
                                            <br>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </main>
</body>
</html>