<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenid@!!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../styles/styles.css" rel="stylesheet" >
</head>
</head>
<body class="flex-column justify-content-start overflow-hidden">
    <header class="w-100">
        <img src="../assets/tiendaOnline_logo.png" width="150px" alt="Tienda Online">
    </header>
    <main class="w-100 vh-70 all-center">
        <form class="w-50 bg-white br-1 d-flex flex-column justify-content-start align-items-center shadow border-dark-2 pt-1 pb-3" action="home.html" method="POST" id="register-form">
            <h2 class="w-80 text-left">Registrarse</h2>
            <div class="w-80 d-flex gap-1">
                <div class="w-80 mb-2 d-flex flex-column">
                    <label class="text-size-sm fw-bold" for="firstname">Nombres</label>
                    <input class="custom-input text-size-1 py-xs w-100" type="text" name="firstname" id="firstname" placeholder="Nombre" required>
                </div>    
                <div class="w-80 mb-2 d-flex flex-column">
                    <label class="text-size-sm fw-bold" for="lastname">Apellidos</label>
                    <input class="custom-input text-size-1 py-xs w-100" type="text" name="lastname" id="lastname" placeholder="Apellido" required>
                </div>    
            </div>
            <div class="w-80 d-flex gap-1">
                <div class="w-80 mb-2 d-flex flex-column">
                    <label class="text-size-sm fw-bold" for="birthdate">Fecha de nacimiento</label>
                    <input class="custom-input text-size-1 py-xs w-100" type="date" name="birthdate" id="birthdate" placeholder="Fecha de nacimiento" required>
                </div>    
                <div class="w-80 mb-2 d-flex flex-column">
                    <label class="text-size-sm fw-bold" for="id">Identificación</label>
                    <div class="d-flex">
                        <select class="custom-input text-size-1 py-xs w-25 br-tr-0 br-br-0 border-right-none">
                            <option>CC</option>
                            <option>TI</option>
                            <option>PA</option>
                        </select>
                        <input class="custom-input text-size-1 py-xs w-75 br-tl-0 br-bl-0" type="number" name="id" id="id" min="0" placeholder="Identificación" required>
                    </div>
                </div>    
            </div>
            <div class="w-80">
                <div class="w-100 mb-2 d-flex flex-column">
                    <label class="text-size-sm fw-bold" for="email">Correo electrónico</label>
                    <input class="custom-input text-size-1 py-xs w-100" type="email" name="email" id="email" placeholder="Correo electrónico" required>        
                </div>
            </div>
            <div class="w-80 d-flex flex-column">
                <div class="w-100 d-flex gap-1">
                    <div class="w-80 mb-1 d-flex flex-column">
                        <label class="text-size-sm fw-bold" for="password">Contraseña</label>
                        <input class="custom-input text-size-1 py-xs w-100" type="password" name="password" id="password" placeholder="Contraseña" required>
                    </div>
                    <div class="w-80 mb-1 d-flex flex-column">
                        <label class="text-size-sm fw-bold" for="confirm_password">Confirmar contraseña</label>
                        <input class="custom-input text-size-1 py-xs w-100" type="password" name="confirm_password" id="confirm_password" placeholder="Apellido" required>
                    </div>
                </div>
                <div class="w-100 d-flex justify-content-start align-items-center mb-2">
                    <input class="custom-check" type="checkbox" name="show_passwords" id="show_passwords" required>
                    <label class="text-size-sm fw-bold" for="show_passwords">Mostrar contraseña</label>
                </div>
            </div>
            <div class="w-80 d-flex justify-content-start">
            </div>
            
            <div class="w-80 d-flex justify-content-end">
                <button class="w-40 bg-success br-xs py-xs border-dark-2 text-white text-size-1 fw-bold" type="submit" form="register-form">Registrarse</button>
            </div>
        </form>
    </main>
</body>
</html>