<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <table width="100%">
            <thead>
                <tr>
                    <th>
                        <p width="50%" align="left">
                            <img src="../assets/images/logo.png" width="65px">
                        </p>
                    </th>
                    <th>
                        <p width="50%" align="right">
                            <a href="../index.html"><img src="../assets/images/inicio.png" width="100px"/></a>
                            <a href="products.html"><img src="../assets/images/productos.png" width="100px"/></a>
                            <a href="combos.html"><img src="../assets/images/combos.png" width="100px"/></a>
                            <a href="about.html"><img src="../assets/images/quien_soy.png" width="100px"/></a>
                        </p>
                    </th>
                </tr>
            </thead>
        </table>
    </header>
    <main>
        <h1><em>Acerca de mí</em></h1>
        <hr>
        <center>
            <table width="90%">
                <tbody>
                    <tr>
                        <td width="50%">
                            <img src="../assets/images/abuela.png" width="90%">
                        </td>
                        <td width="50%">
                            <h1><em>¡Bienvenidos a "La tienda de la Abuela"!</em></h1>
                            Queridos y queridas amantes
                            de lo dulce y acogedor, soy la cariñosa abuelita que da vida a este rinconcito
                            lleno de delicias hechas con <em>amor</em>. Desde mi cocina, donde las recetas han sido
                            perfeccionadas a lo largo de generaciones, les ofrezco una variedad de galletas,
                            pasteles y dulces que les transportarán directamente a la comodidad y calidez de
                            los tiempos pasados. Cada bocado es como un abrazo de abuela, y cada receta
                            cuenta una historia que espero que disfruten tanto como yo disfruté cocinándola.
                            Así que, tómense un momento para explorar mi tienda online y elegir esos pequeños
                            tesoros que endulzarán sus momentos especiales.
                            <h3><em>¡Gracias por visitar y espero que
                            sientan todo el amor que he horneado en cada creación!</em></h3>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </center>
    </main>
    <hr />
    <footer>
        <center>
            <table width="100%">
                <tbody>
                    <tr>
                        <img src="../assets/images/footer.png" width="100%">
                    </tr>
                </tbody>
            </table>
        </center>
    </footer>
</body>
</html>