<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos 😆</title>
</head>
<body>
    <header>
        <table width="100%">
            <thead>
                <tr>
                    <th>
                        <p width="50%" align="left">
                            <img src="../assets/images/logo.png" width="65px">
                        </p>
                    </th>
                    <th>
                        <p width="50%" align="right">
                            <a href="../index.html"><img src="../assets/images/inicio.png" width="100px"/></a>
                            <a href="products.html"><img src="../assets/images/productos.png" width="100px"/></a>
                            <a href="combos.html"><img src="../assets/images/combos.png" width="100px"/></a>
                            <a href="about.html"><img src="../assets/images/quien_soy.png" width="100px"/></a>
                        </p>
                    </th>
                </tr>
            </thead>
        </table>
    </header>
    <main>
        <h1><em>Conoce nuestros <mark>maravillosos</mark> productos</em></h1>
        <hr>
        <h2><em>Bebidas</em> ☕</h2>
        <center>
            <table width="90%">
                <tbody>
                    <tr><img src="../assets/banners/agua_de_panela.png" width="50%"></tr>
                    <tr><img src="../assets/banners/chocolate.png" width="50%"></tr>
                    <tr><img src="../assets/banners/cafe.png" width="50%"></tr>
                    <tr><img src="../assets/banners/jugos.png" width="50%"></tr>
                </tbody>
            </table>
        </center>
        <h2><em>Comidas</em> 🍞</h2>
        <center>
            <table width="90%">
                <tbody>
                    <tr><img src="../assets/banners/almojabanas.png" width="50%"></tr>
                    <tr><img src="../assets/banners/buñuelos.png" width="50%"></tr>
                    <tr><img src="../assets/banners/pan_de_yuca.png" width="50%"></tr>
                    <tr><img src="../assets/banners/mucho_mas.png" width="50%"></tr>
                </tbody>
            </table>
        </center>
    </main>
    <hr />
    <footer>
        <center>
            <table width="100%">
                <tbody>
                    <tr>
                        <img src="../assets/images/footer.png" width="100%">
                    </tr>
                </tbody>
            </table>
        </center>
    </footer>
</body>
</html>